<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<meta name="theme-color" content="#000000" />
	<meta name="language" content="English" />

	<title>Shuttle</title>

	<script>
		if (localStorage.getItem("shuttle||lightMode") === "true") {
			document.documentElement.classList.add("light-mode");
		}
	</script>

	<link rel="stylesheet" href="/assets/css/style.css" />

	<script src="/assets/js/fa.js" crossorigin="anonymous"></script>
	<script>
		window.FontAwesomeKitConfig = {
			"id": 63433955,
			"version": "6.7.2",
			"token": "a1be1ae76c",
			"method": "css",
			"license": "free",
			"baseUrl": "https://ka-f.fontawesome.com",
			"asyncLoading": {"enabled": false},
			"autoA11y": {"enabled": false},
			"baseUrlKit": "https://kit.fontawesome.com",
			"detectConflictsUntil": null,
			"iconUploads": {},
			"minify": {"enabled": true},
			"v4FontFaceShim": {"enabled": true},
			"v4shim": {"enabled": true},
			"v5FontFaceShim": {"enabled": true}
		};
	</script>
	<script src="/uv/uv.bundle.js"></script>
	<script src="/uv/uv.config.js"></script>

	<script src="/assets/js/index.js" defer></script>

	<script defer data-domain="<%= domain %>" src="https://stats.senty.com.au/js/script.js"></script>

	<%- include("ads-head") %>
</head>

<body>
	<% if (!locals.hideSidebar) { %>
	<div class="sidebar">
		<a href="/" id="logo">
			<img src="shuttle.png" alt="Logo">
		</a>
		<%- navItems.map(([to, name])=> `<a href="${to}" class="${to === path ? " nav-active" : "nav-btn"}"><span>${name}</span></a>`).join(" "); %>
		<div class="adsterra-banner">
			<%- include("adsterra-728x90"); %>
		</div>
		<div>
			<input type="checkbox" class="checkbox" id="checkbox">
			<label for="checkbox" class="checkbox-label">
			  <svg class="sun-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
				<circle cx="12" cy="12" r="5"></circle>
				<line x1="12" y1="1" x2="12" y2="3"></line>
				<line x1="12" y1="21" x2="12" y2="23"></line>
				<line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
				<line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
				<line x1="1" y1="12" x2="3" y2="12"></line>
				<line x1="21" y1="12" x2="23" y2="12"></line>
				<line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
				<line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
			  </svg>
			  <svg class="moon-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
				<path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
			  </svg>
			  <span class="ball"></span>
			</label>
		  </div>
	</div>
	<% } %>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>

	<%- include(page); %>

	<script src="https://partner.senty.com.au/partner-48f42260.js"></script>
</body>
</html>